<% title("Home Page") %>
<h1>Home Page <small>views/pages/home.html.erb</small></h1>
<p>This is your home page. Use the menu at the top to sign in / sign out.</p>
<h2>Get started for only $<%= ab_test :price_options %> a month!</h2>
<%= vanity_js %>
